<div class="container-evaluation">
  <div class="new-header">
    <h2> <%= @smell_program.scent.name %> </h2>

    <img src="">
  </div>
  <hr class="d-solid">

<!--   <div id="form-wrapper">
    <form action="/p/quote.php" method="GET">
    <h1 id="form-title">Enter rating</h1>
      <div id="rating-slider">
        <%#= f.input :strength_rating, :collection => 0..5 %>
        <%#= f.button :submit %>
        <%# end %>
      <div id="smell-amount-pos"></div>
      </div>
      </form>
      <button type="submit">Submit</button>
  </div>

  <div id="form-wrapper">
    <form action="/p/quote.php" method="GET">
      <div id="rating-slider">
        <%#= simple_form_for [@smell_program, @entry] do |f| %>
        <%#= f.input :accuracy_rating %>
        <%#= f.button :submit %>
        <%# end %>
      <div id="smell-amount-pos"></div>
      </div>
      </form>
      <button type="submit">Submit</button>
  </div>
</div> -->

<!-- html code below of the rating slider -->
  <div id="form-wrapper">
    <form accept-charset="UTF-8" action="/smell_programs/<%= @smell_program.id %>/smell_entries" method="POST">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />

      <!-- Slider Strength -->
      <div class="hr" id="evaluation-separator"></div>
      <h3 id="form-title-strength">Enter strength rating</h3>
      <div id="strength-rating-slider">
        <input type="radio" name="smell_entry[strength_rating]" id="s1" value="1" required>
        <!-- <label for="1" data-smell-amount="1"></label> -->
        <label for="s1"></label>
        <input type="radio" name="smell_entry[strength_rating]" id="s2" value="2" required>
        <!-- <label for="2" data-smell-amount="2"></label> -->
        <label for="s2"></label>
        <input type="radio" name="smell_entry[strength_rating]" id="s3" value="3" required>
        <!-- <label for="3" data-dsmell-amount="3"></label> -->
        <label for="s3"></label>
        <input type="radio" name="smell_entry[strength_rating]" id="s4" value="4" required>
        <!-- <label for="4" data-smell-amount="4"></label> -->
        <label for="s4"></label>
        <input type="radio" name="smell_entry[strength_rating]" id="s5" value="5" required>
        <!-- <label for="5" data-smell-amount="5"></label> -->
        <label for="s5"></label>
        <div id="strength-rating-pos"></div>
      </div>

      <!-- Slider Accuracy -->
      <div class="hr" id="evaluation-separator"></div>
      <h3 id="form-title-accuracy">Enter accuracy rating</h3>
      <div id="accuracy-rating-slider">
        <input type="radio" name="smell_entry[accuracy_rating]" id="a1" value="param1" required>
        <!-- <label for="1" data-smell-amount="1"></label> -->
        <label for="a1"></label>
        <input type="radio" name="smell_entry[accuracy_rating]" id="a2" value="2" required>
        <!-- <label for="2" data-smell-amount="2"></label> -->
        <label for="a2"></label>
        <input type="radio" name="smell_entry[accuracy_rating]" id="a3" value="3" required>
        <!-- <label for="3" data-dsmell-amount="3"></label> -->
        <label for="a3"></label>
        <input type="radio" name="smell_entry[accuracy_rating]" id="a4" value="4" required>
        <!-- <label for="4" data-smell-amount="4"></label> -->
        <label for="a4"></label>
        <input type="radio" name="smell_entry[accuracy_rating]" id="a5" value="5" required>
        <!-- <label for="5" data-smell-amount="5"></label> -->
        <label for="a5"></label>
        <div id="accuracy-rating-pos"></div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" id="btn-form-smell-entry"><%= @link_name %></button>
      </div>
    </form>
    <button type="submit" class="btn-smell-entry"><%= @link_name %></button>
  </div>
</div>


<!-- <div id="form-wrapper">
<%#= form_with url: smell_program_smell_entries_path(@smell_program) do |f| %>
  <h1 id="form-title">Enter strength rating</h1>
  <div id="rating-slider">
    <%#= f.radio_button :strength_rating, value: "1", id: "1", required: true %>
    <%#= f.label :strength_rating, "1"%>
    <%#= f.radio_button :strength_rating, value: "2", id: "2", required: true %>
    <%#= f.label :strength_rating, "2"%>
    <%#= f.radio_button :strength_rating, value: "3", id: "3", required: true %>
    <%#= f.label :strength_rating, "3"%>
    <%#= f.radio_button :strength_rating, value: "4", id: "4", required: true %>
    <%#= f.label :strength_rating, "4"%>
    <%#= f.radio_button :strength_rating, value: "5", id: "5", required: true %>
    <%#= f.label :strength_rating, "5"%>
    <div id="smell-amount-pos"></div>
  </div>
  <%#= f.submit "Submit" %>s
<%# end %>


</div> -->
<!-- <h2>HALLO</h2> -->
<%# if @next_program.present?  %>
  <%#= link_to "Next", new_smell_program_smell_entry_path(@next_program) %>
<%# else %>
  <%#= link_to "back to Dashboard", dashboard_path %>
<%# end %>

