<!-- <div class="container-evaluation" style="background-image: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%), url('<%#= cl_image_path @smell_program.scent.photo.key %>')"> -->
  <div class="container-evaluation" style="background-image: linear-gradient(rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%)">
  <div class="new-header">
    <h2 class="text-white-text-shadow"> <%= @smell_program.scent.name.capitalize %></h2>
  </div>

<!-- Form for smell evaluation -->
  <div id="form-wrapper">
    <form accept-charset="UTF-8" action="/smell_programs/<%= @smell_program.id %>/smell_entries" method="POST">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value=<%= form_authenticity_token %> />

      <!-- Slider Strength -->
      <div class="hr" id="evaluation-separator"></div>
      <p class="text-white-text-shadow" id="slider-title">How strong was the smell?</p>
      <%= render "slider", locals: {type: "5-point", category: "strength"}  %>

      <!-- Slider Accuracy -->
      <div class="hr" id="evaluation-separator"></div>
      <p class="text-white-text-shadow" id="slider-title">How close was the smell?"</p>
      <%= render "slider", locals: {type: "5-point", category: "accuracy"}  %>

      <!-- submit button -->
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn-start-counter mt-64p"><%= @link_name %></button>
      </div>
    </form>
  </div>
</div>
