<div class="container dashboard">

  <div id="greeting">
    <p><%= @greeting %>, <%= current_user.first_name %>!</p>
  </div>

  <div class="d-flex">
    <div class="d-flex, justify-content-center" id="dashboard-image">

    </div>

    <div id="quote">
      <div id="quote-content"><p><i>What’s in a name? That which we call a rose by any other name would smell as sweet.</i></p></div>
      <div id="quote-author"><p>William Shakespear</p></div>
    </div>
  </div>

  <div class="mt-4">
    <h3>Progress</h3>
  </div>
</div>

<div class="current-training">
  <div class="flex-tiles">
    <%= render "training_tile", locals: {side: "left", training_id: 1}  %>
    <%= render "training_tile", locals: {side: "right", training_id: 2} %>
  </div>

  <div class="flex-tiles">
    <%= render "training_tile", locals: {side: "left", training_id: 3}  %>
    <%= render "training_tile", locals: {side: "right", training_id: 4}%>
  </div>
</div>

<div class="container flex-tiles " id="btn-start-training-session">
  <% if @next_program.present? %>

    <%= link_to "Start Training", start_smell_program_smell_entries_path(@next_program),
    # <%= link_to "Start Training", new_smell_program_smell_entry_path(@next_program),
    class: 'btn-main', id: "btn-start-training-session" %>
  <% else %>
    <div class="btn-main btn-start-training-session">
      <p>You have completed this training session</p>
    </div>
    <%= link_to "Reset", dashboard_path(reset: true) %>
  <% end %>
</div>
