<div class="container dashboard">

  <div id="greeting">
    <p><%= @greeting %>, <strong><%= current_user.first_name %></strong>!</p>
  </div>

<!--   <div class="animated-border-quote">
    <blockquote>
      <p>What’s in a name? <br> That which we call a rose by any other name would smell as sweet.</p>
      <cite>William Shakespear</cite>
    </blockquote>
  </div>
 -->

</div>

<div class="container-progress">
  <div class="current-training">
    <div class="flex-tiles">
      <%= render "training_tile", locals: {side: "left", training_id: 1, training: @active_trainings[0]}  %>
      <%= render "training_tile", locals: {side: "right", training_id: 2, training: @active_trainings[1]} %>
    </div>

    <div class="flex-tiles">
      <%= render "training_tile", locals: {side: "left", training_id: 3, training: @active_trainings[2]}  %>
      <%= render "training_tile", locals: {side: "right", training_id: 4, training: @active_trainings[3]}%>
    </div>
  </div>
</div>


<div class="container flex-tiles " id="btn-start-training-session">
  <% if @next_program.present? %>
    <%= link_to "Start Training", start_smell_program_smell_entries_path(@next_program),
    # <%= link_to "Start Training", new_smell_program_smell_entry_path(@next_program),
    class: 'btn-main', id: "btn-start-training-session" %>
  <% else %>
    <p>You have completed this training session</p>
    <div class="btn-main">
      <%= link_to "Reset", dashboard_path(reset: true)%>
    </div>
  <% end %>
</div>

<div class="quote">
  <blockquote>
    <p><i>What’s in a name? <br> That which we call a rose by any other name would smell as sweet.</i></p>
    <cite>William Shakespeare</cite>
  </blockquote>
</div>


<% if  @completed_trainings.present? %>
  <div class="mt-4">
    <h3>Completed Training</h3>
  </div>

  <div class="container-completed">
    <div class="completed-training">
      <div class="d-flex flex-column">
        <%= render "completed_tile", locals: {training_id: 1, training: @completed_trainings[0]}  %>
        <%= render "completed_tile", locals: {training_id: 2, training: @completed_trainings[1]} %>
        <%= render "completed_tile", locals: {training_id: 3, training: @completed_trainings[2]} %>
      </div>
    </div>
<% end %>


