<!--  personal Greeting -->
<div class="container dashboard">
  <div id="greeting">
    <p><%= @greeting %>, <strong><%= current_user.first_name %></strong>!</p>
  </div>
</div>


<h1 class="test">Uncovered</h1>

<!-- Slider -->
<div class="scrolling-wrapper">
  <div class="card">
    <%= link_to smell_program_path(@active_trainings[0]), class: "link_tile" do %>
    <div class="training-card">
      <div>
        <h3>AAAA</h3>
        <div class="d-flex justify-content-start">
          <p class="number">20</p>
          <p class="label">tries</p>
        </div>
        <div class="d-flex justify-content-start">
          <p class="number">50%</p>
          <p class="label">recovered</p>
        </div>
      </div>
      <div>
         <h1>IMAGE</h1>
      </div>
    </div>
    <%#= render "training_progress", locals: {format: 'carousel', training_id: 1, training: @active_trainings[0]}  %>
    <% end %>
  </div>
  <div class="card">
    <%= link_to smell_program_path(@active_trainings[1]), class: "link_tile" do %>
    <div class="training-card">
      <div>
        <h3>BBBB</h3>
        <div class="d-flex justify-content-start">
          <p class="number">20</p>
          <p class="label">tries</p>
        </div>
        <div class="d-flex justify-content-start">
          <p class="number">50%</p>
          <p class="label">recovered</p>
        </div>
      </div>
      <div>
         <h1>IMAGE</h1>
      </div>
    </div>
    <%#= render "training_progress", locals: {format: 'carousel', training_id: 2, training: @active_trainings[1]}  %>
    <% end %>
  </div>
  <div class="card">
    <%= link_to smell_program_path(@active_trainings[2]), class: "link_tile" do %>
    <div class="training-card">
      <div>
        <h3>CCCCS</h3>
        <div class="d-flex justify-content-start">
          <p class="number">20</p>
          <p class="label">tries</p>
        </div>
        <div class="d-flex justify-content-start">
          <p class="number">50%</p>
          <p class="label">recovered</p>
        </div>
      </div>
      <div>
         <h1>IMAGE</h1>
      </div>
    </div>
    <%#= render "training_progress", locals: {format: 'carousel', training_id: 3, training: @active_trainings[2]}  %>
    <% end %>
  </div>
  <div class="card">
    <%= link_to smell_program_path(@active_trainings[3]), class: "link_tile" do %>
    <div class="training-card">
      <div>
        <h3>Rosmary</h3>
        <div class="d-flex justify-content-start">
          <p class="number">20</p>
          <p class="label">tries</p>
        </div>
        <div class="d-flex justify-content-start">
          <p class="number">50%</p>
          <p class="label">recovered</p>
        </div>
      </div>
      <div>
         <h1>IMAGE</h1>
      </div>
    <%#= render "training_progress", locals: {format: 'carousel', training_id: 4, training: @active_trainings[3]}  %>
    <% end %>
  </div>
</div>
  <!--   <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div>
    <div class="card"><h2>Card</h2></div> -->
</div>



<!-- >> Display Options -->
<div class="container d-flex justify-content-between" id="db-progress-disp-opt" >
  <div></div>
  <div></div>
</div>

<!-- >> Button -->
<div class="container flex-tiles " id="btn-start-training-session">
  <div class="d-flex mt-3 justify-content-center">
    <% if @next_program.present? %>
      <div>
        <%= link_to "Start Training", start_smell_program_smell_entries_path(@next_program),
                                      class: 'btn-main', id: "btn-start-training-session" %>
      </div>
    <% else %>
      <!-- <p>You have completed this training session</p> -->
      <div>
        <%= link_to "Train again", dashboard_path(reset: true), class: 'btn-main'%>
      </div>
    <% end %>
    <!-- option: swtich programs -->
    <% if @finished_trainings_ids.present? %>
      <div>
        <%= link_to "New Scent", dashboard_path(replace_training_id: @finished_trainings_ids),
            class: 'btn-home-sign', id: "btn-new-training-session" %>
      </div>
      <% end %>
  </div>
</div>


<!-- Quotes -->
<div class="quote">
  <blockquote>
    <p>What’s in a name? <br> That which we call a rose by any other name would smell as sweet.</p>
    <cite>William Shakespeare</cite>
  </blockquote>
</div>

