<div class="landing-container d-flex justify-content-center flex-column">
  <div class="landing-details">
    <h2>Anosmiatherapy</h2>
      <hr class="d-solid">
        <div class="d-flex">
          <div class="landing-desc-a">
           <p class="text-desc-a">/aˈnäzmēə, aˈnäsmēə/</p>
           <!-- </br></br>
            The loss of the sense of smell, either total or partial. Treatment intended to relieve or heal a disorder. It may be caused by head injury, infection, or blockage
            of the nose. -->
          </div>
          <div class="landing-desc-b">
            <p class="text-desc-b">/ˈTHerəpē/</p>
            <!-- </br></br>
            Treatment intended to relieve or heal a disorder. -->
          </div>
        </div>

  <div id="home-img"><%= image_tag "dashboard_image.png" %></div>

          <div class="landing-desc">
            <p class="text-desc-p">A smell training to help regain back your sense of smell</p>
          </div>


<!--   <div class="landing-btn btn-1">
    <%= link_to "Learn more", info_path,  class: "btn-main" %>
  </div> -->

  <div class="landing-btn btn-2">
    <% if user_signed_in? %>
      <%= link_to "Dashboard", dashboard_path,  class: "btn-main" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete,  class: "btn-main" %>
    <% else %>
      <%= link_to "Log In", new_user_session_path,  class: "btn-home-login" %>
      <%= link_to "Sign Up", new_user_registration_path,  class: "btn-home-sign" %>
    <% end %>
   </div>
  </div>
</div>
