<div class="container py-3">
  <div class="row">
    <!-- <div class="col-sm-12 col-md-6"> -->
    <div class="p-image">
      <%= cl_image_tag(@product.photo.key, width: '100%') %>
    </div>
    <!-- <div class="col-sm-12 col-md-6"> -->
    <div class="shop-info">
      <h2 id="show-header"><%= @product.name %></h2>
      <h3><%= humanized_money_with_symbol(@product.price) %></h3>
      <div class="show-text">
        <%= simple_format(@product.description, class: "product-desc") %>
      </div>
        <%= form_tag orders_path do %>
        <%= hidden_field_tag 'product_id', @product.id %>
    <div class="show-button">
      <%= submit_tag 'Purchase', class: 'btn-new-show' %>
    </div>
      <% end %>
    </div>
  </div>
</div>

