<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Anosmiatherapy: Restore your sense of smell.</title>
    <meta name="description" content="Train and track your sense of smell with simple, daily exercise.">
  </head>

  <body>
    <div class="d-flex flex-column min-vh-100">
<% if @navbar_title.present? %>
    <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="d-flex flex-column justify-content-start flex-grow-1"><%= yield %></div>
    <%= render 'shared/footer' %>
    </div>
  </body>
</html>

